
.contentBody{
	padding: 40px 0;
}

.contentBody .gallery{
	padding-bottom: 40px;
	max-width: 500px;
	height: 600px;
	margin: 0 auto;
}

.contentBody .gallery img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.contentBody .description .title{
	padding: 15px 0;
	font-size: 28px;
	font-weight: bold;
	color: var(--darkText);
}

.contentBody .description .price{
	padding: 10px 0;
	font-size: 20px;
	color:  var(--darkText);
}

.contentBody .description .details{
	padding: 15px 0;
	font-size: 14px;
	color:  var(--midText);
}

.contentBody .description .addToCart{
	padding: 15px 0;
	margin-bottom: 20px;
}

.contentBody .description .addToCart .quantityDiv{
	width: 50%;
	text-align: center;
}

.contentBody .description .addToCart span{
	padding: 5px 10px;
	margin-left: 10px;
	border: 1px solid var(--lightText);
	border-radius: 5px;
}

.contentBody .description .addToCart .btn{
	
	user-select: none;
	cursor: pointer;
	background: var(--lightText);
	font-weight: bold;
}

.contentBody .description .addToCart button{
	display: block;
	text-transform: capitalize;
	font-weight: bold;
	width: 50%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid var(--navBgSolid);
	background-color: var(--navBgSolid);
	color: var(--lightText);
	margin: 10px 0;
	cursor: pointer;
}

.contentBody .description .addToCart button:hover{
	transform: scale(0.9);
}

.commentSection .commentsDiv{
	padding: 10px 0;
}

.commentSection .commentsDiv .comment{
	border-radius: 10px;
	overflow: hidden;
	margin: 15px 0;
}

.commentSection .commentsDiv .comment .name{
	padding: 10px 15px;
	background-color: var(--navBgSolid);
	color: #fff;
	letter-spacing: 1px;
	font-size: 18px;
}

.commentSection .commentsDiv .comment .content{
	padding: 10px 15px;
	min-height: 75px;
	background-color: var(--lightText);
}

.commentSection{
	border-top: 1px solid var(--lightText);
}
.commentSection	.formTitle{
	font-size: 20px;
	padding: 20px 0;
	font-weight: bold;
	color: var(--darkText);
}

.commentSection form {
	width: 70%;
	display: grid;
	grid-template-columns: 100%;
	grid-row-gap: 20px;
}

.commentSection form .formEle{
	padding: 10px ;
	border: 1px solid var(--lightText);
	color: var(--midText);
	outline: none;
}

.commentSection form .formEle::placeholder{
	color: var(--midText);
}

.commentSection form button{
	padding: 10px;
	border: none;
	cursor: pointer;
	background-color: var(--navBgSolid);
	color: var(--lightText);
	border-radius: 5px;
}

.commentSection form button:hover{
	transform: scale(0.9);
}
@media screen and (min-width: 1080px) {
	.contentBody{
		display: grid;
		grid-template-columns: 50% 50%;
		column-gap: 30px;
	}
	.contentBody .description{
		padding-top: 50px;
	}

	.commentSection form{
		width: 100%;
	}
}